.cart-input {
    border: none;
}

@media (min-width: 992px) {
    .cart-box {
        max-height: 80vh;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}